.contact-footer{
  background: linear-gradient(to bottom, rgb(44, 43, 54) 0%,rgb(44, 43, 54) 50%,rgb(44, 43, 54)50%,rgb(35, 34, 39) 50%,rgb(35, 34, 39) 100%); /* W3C */
}

.up-btn{
  background: none;
  border: none;
  padding: 0;
}

