.card{
  width: 20em;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  max-width: 100%;
  z-index: 99;
}

.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.185)!important;
}

.card-body{
  padding: 2rem 0rem !important;
  background-color: rgba(255, 255, 255, 0.493);
}

.card-text{
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.container-fluid .row{
  padding-top: 3rem;
}

.overflow{
  overflow: hidden;
}

.card-img-top{
  display: inline-block; /* shrink wrap to image */
  overflow: hidden;
}

.card-img-top{
  transition: .3s ease-in-out;
}

.card-img-top:hover{
  filter: opacity(0.8) brightness(50%);
}


