
.header{
  background-image: url("https://wallpaperset.com/w/full/f/8/f/205833.jpg");
  background-position-x: 20% ;
  background-position-y: 30%;
  padding: 200px 100px;
  height: 744px;
  margin: 20px;
  
}

.text{
  color: whitesmoke;
  position: relative;
  float: left;
  padding-left: 40px;
  padding-top: 50px;
}


